body{
    font-family: 'Arima', cursive;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
}
#top-section{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position:center;
    height: 400px;
    position: relative;
    z-index: -1; 
}
#top-section::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    z-index: -1;
}
.top-container{
    text-align: center;
    color: White;
    padding: 50px 200px;
    z-index: 100;
}
#main-button{
    padding: 10px 25px;
    background:#FF5959;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.donation-section{
    text-align: center;
    padding-top: 50px;
}
.donation-area{
    padding: 0 250px;
}
.donate-amount{
    display:flex;
    justify-content: center;
    padding-bottom: 40px;
}
.amount{
    padding: 30px;
    background-color: lightgray;
    margin: 5px;
    border-radius: 5px;
}
.highlighted-amount{
    border: 4px solid #b30d0d;
    background: #eb7070;
    color: #f5f5f5
}
.planning-area{
    padding: 30px;
    border-radius: 5px;
    margin: 10px;
    width: 20%;
    text-align: left;
}
.subscription-area{
    padding: 40px 80px;
    background: #FFF4D6;
    width: 30%;
    margin: 0 auto;
}
.input-area{
    background: lightgray;
    padding: 7px;
}
.footer-area{
    padding: 20px;
    background: #000;
    margin-top: 80px;
    color: white;
    text-align: center;
}
