body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.top-section{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position:center;
    /* width: 100%; */
    height: 350px;
    position: relative;
    /* opacity: .9; */
    z-index: -1; 
}
.top-section::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    z-index: -1;
}
.top-container{
    text-align: center;
    color: White;
    padding: 50px 200px;
    z-index: 100;
}
.main-button{
    padding: 10px 25px;
    background:#FF5959;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.donation-section{
    text-align: center;
    padding-top: 50px;
}
.donate-amount{
    display:flex;
    justify-content: center;
    padding-bottom: 40px;
}
.amount{
    padding: 30px;
    background-color: lightgray;
    margin: 5px;
    border-radius: 5px;
}
.highlighted-amount{
    border: 1px solid #FF5959;
    background: #b30d0d;
    color: #f5f5f5
}
.planning-area{
    padding: 30px;
    border-radius: 5px;
    margin: 10px;
    width: 20%;
    text-align: left;
}
.contribution-section{
    display: flex;
    padding: 80px 0;
}
.contribution-area{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
}
.contribution-area img {
    width: 100%
}
.subscription-area{
    padding: 40px 80px;
    background: #FFF4D6;
    width: 30%;
    margin: 0 auto;
}
.input-area{
    background: lightgray;
    padding: 7px;
}
.footer-area{
    padding: 20px;
    background: #000;
    margin-top: 80px;
    color: white;
    text-align: center;
}